* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Lexend', sans-serif; 
    background-color: #f5f5f5;
}

.container {
    display: flex;
    height: 550px;
    width: 800px;
    align-items: center;
    justify-content: center;
}

.signup-form {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    background-color: #F4FFFD;
    width: 54%;
    height: 100%;
    padding: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.signup-form h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #ED254E;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    
}

.social-icons a {
    margin: 0 10px;
}

.social-icons img {
    width: 25px;
    height: 25px;
    background-color: #D9D9D9;
    border-radius: 50%;
}

.input-group {
    position: relative; 
    margin-bottom: 20px;
}

.input-group .material-icons {
    position: absolute; 
    left: 10px; 
    top: 50%; 
    transform: translateY(-50%); 
    color: #465362; 
}

.input-group input {
    width: 100%;
    padding: 10px 10px 10px 40px; 
    border: none;
    outline: none;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    background-color: #D9D9D9;
}

.input-group input:focus {
    border-bottom: 1px solid #ED254E; 
}


.signup-btn {
    width: 100%;
    background-color: #ED254E;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
    margin-bottom: 20px;
}

.signup-btn:hover {
    background-color: #e04356;
}

.signup-form p {
    text-align: center;
    color: #777;
}

.signup-form p a {
    color: #ED254E;
    text-decoration: none;
}

.signup-form p a:hover {
    text-decoration: underline;
}

.side-image {
    width: 46%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #465362;
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 40px;
    position: relative;
}

.brand-name {
    font-size: 24px;
    font-weight: bold;
    color: #F9DC5C;
    position: absolute; 
    top: 10px; 
    right: 20px; 
}

.side-image img {
    height: 325px;
    width: 325px;
    margin-bottom: 20px;
}





















































