html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  .container-fluid {
    height: 100%;
  }
  
  .sidebar {
    height: 100%;
  }
  
  main {
    height: 100%;
    overflow-y: auto; /* Permite scroll si el contenido excede la altura */
  }
  